name: CI - Build and Push Docker Image

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}


      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USER }}/instagram-clone:latest .

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USER }}/instagram-clone:latest

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USER }}/instagram-clone:latest .

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USER }}/instagram-clone:latest
