name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Récupération du code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Connexion à Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Build de l’image Docker
      - name: Build Docker image
        run: docker build -t instagram-clone .

      # 4. Tag de l'image
      - name: Tag image
        run: docker tag instagram-clone ${{ secrets.DOCKER_USERNAME }}/instagram-clone:latest

      # 5. Push vers Docker Hub
      - name: Push image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/instagram-clone:latest
